<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280032682288-uuto4pm633l8u43137mt78bqopjt7lm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280032682288-uuto4pm633l8u43137mt78bqopjt7lm0</string>
	<key>API_KEY</key>
	<string>AIzaSyCNjKQIGwKj5wcEFa7gjvex3InWXBlm0DM</string>
	<key>GCM_SENDER_ID</key>
	<string>280032682288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viniciusmoreria.liftoff</string>
	<key>PROJECT_ID</key>
	<string>liftoff-339516</string>
	<key>STORAGE_BUCKET</key>
	<string>liftoff-339516.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280032682288:ios:db0309b4a896b9babfa8f5</string>
</dict>
</plist>